[submodule "comModules/mocklayer"]
	path = comModules/mocklayer
	url = https://github.com/Crystal-Photonics/crystalTestFrameworkMocklayer
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/qRPCRuntimeParser"]
	path = libs/qRPCRuntimeParser
	url = https://github.com/Crystal-Photonics/qRPCRuntimeParser
