/qTestLibRunnerConfig.qtr
/src/vc.h
/tests/vc.h

libs/build_limereport
libs/qwt/build_qwt
libs/qwt/qwt-6.1.3

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Qt
*.pro.user
