bin
libs/PythonQt3.0
libs/QtRptProject1.5.1
libs/build/*
builds/*
libs/googletest/CMakeLists.txt.user
comModules/mocklayer/*
libs/LimeReport/translations
libs/LimeReport/build

*.zip

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Qt
*.pro.user

/qTestLibRunnerConfig.qtr
